/* Yourstyles : Use this stylesheet to apply custom css styles to the Apptamin Theme 

We added some of our own styles for the demo. Feel free to edit, remove or keep them !

*/

/* =HEADER */
#header{
	background: #4894ca; /* Old browsers */
	background: -moz-linear-gradient(top,  #4894ca 0%, #1b69a1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4894ca), color-stop(100%,#1b69a1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* IE10+ */
	background: linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4894ca', endColorstr='#1b69a1',GradientType=0 ); /* IE6-9 */
}
#branding{
	height:65px;
}
#blog-title {
    padding: 15px 0 0;
}
#access{
	text-transform:uppercase;
	font-weight:normal;
	padding-top:15px;
}
#access a{
	color:#88c4ef;
	text-shadow: 0 -1px 1px #134C75;
}

#access a:hover{
	color:#fff;
}

/* =APP STAGE */
body.home #app-stage {
	background: url("images/bg_appstage.jpg") repeat-x scroll center 0 transparent;
	height:555px;
}
#scroller{
	padding-top:30px;
	background: url("images/bg_scroller.jpg") no-repeat scroll center 0 transparent;
}
.app-name h1{
	color:#999;
	text-shadow: 0px -1px 1px #444;
}
.app-description {
    padding-top: 60px;
}
.app-description h2 {
    font-size: 1.8em;
    font-weight: normal;
    line-height: 30px;
}
.app-description.video-on{
	padding-top:40px;
}
.app-video{
	padding-top:20px;
}
.notif input#mc-embedded-subscribe_appstage{
	background: #4894ca; /* Old browsers */
	background: -moz-linear-gradient(top,  #4894ca 0%, #1b69a1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4894ca), color-stop(100%,#1b69a1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* IE10+ */
	background: linear-gradient(top,  #4894ca 0%,#1b69a1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4894ca', endColorstr='#1b69a1',GradientType=0 ); /* IE6-9 */
	border:1px solid #1b69a1;
}
.download-buttons {
	padding-top:50px;
}

a.androiddl{
	margin-left:10px;
	background: url(images/app-store-buttons-android.png);
	background-repeat:no-repeat;
	display:block;
	width:183px;
	height:60px;
}
a.itunesdl{
	background: url(images/app-store-buttons-iphone.png);
	background-repeat:no-repeat;
	display:block;
	width:183px;
	height:60px;
}

/* =MAIN */
#container {
	margin-top:20px;
    -moz-box-shadow: 2px 2px 10px #919191;
	-webkit-box-shadow: 2px 2px 10px #919191;
	box-shadow: 2px 2px 10px #919191;
}
body.home #container {
	margin-top:0px;
    -moz-box-shadow: 0px 0px 00px #919191;
	-webkit-box-shadow: 0px 0px 0px #919191;
	box-shadow: 0px 0px 0px #919191;
}
.app-widget-item{
	margin-bottom:22px;
}
h3.widgettitle{
	text-transform:uppercase;
	font-style:normal;
}
.textwidget{
	background: #e2dad4; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2dad4 0%, #d5cbc5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2dad4), color-stop(100%,#d5cbc5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2dad4 0%,#d5cbc5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2dad4 0%,#d5cbc5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2dad4 0%,#d5cbc5 100%); /* IE10+ */
	background: linear-gradient(top,  #e2dad4 0%,#d5cbc5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dad4', endColorstr='#d5cbc5',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0px 0px 3px #919191;
	-webkit-box-shadow: inset 0px 0px 3px #919191;
	box-shadow: inset 0px 0px 3px #919191;
	padding:15px 20px 15px 20px;
}


/* =APP FEATURES */
hr.styled {
	 border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #e1d9d3, #bab4b1, #e1d9d3); 
    background-image:    -moz-linear-gradient(left, #e1d9d3, #bab4b1, #e1d9d3); 
    background-image:     -ms-linear-gradient(left, #e1d9d3, #bab4b1, #e1d9d3); 
    background-image:      -o-linear-gradient(left, #e1d9d3, #bab4b1, #e1d9d3); 
	width:980px;
}

.features h3 {
	text-transform:uppercase;
}
.features h4 span {
	text-transform:uppercase;
	font-weight:bold;
}